/* Background and container */
header {
  margin: 0 auto;
  min-width: 980px;
}

nav ul {
  display: flex;
  align-items: center;
  height: 65px;
}

nav ul li {
  float: left;
  padding-left: 27px;
}

nav ul li:last-of-type {
  padding-right: 27px;
}

nav ul li p:hover {
  color: #222;
  text-decoration: underline;
  cursor: pointer;
}


/* Left and Right Nav UL's*/

.left-nav {
  float: left;
  color: #222;
}

.right-nav {
  float: right;
}

/* Right nav icons */
.apps-icon {
  color: #727272;
  font-size: 19px;
}

.apps-icon:hover {
  color: #000;
  cursor: pointer;
}

.sign-in-button {
  width: 73px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4583eb;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
}


.sign-in-button:hover {
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  cursor: default;
}
