/* Background and main body */

body {
  font-family: arial, sans-serif;
  font-weight: 200;
  font-size: 13px;
  color: #000;
  background: #fff;
}

.main-body {
  width: 100%;
}

.main-body div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  margin: auto auto;
  width: 272px;
  height: 90px;
}
