/* Background and main body */

body {
  font-family: arial, sans-serif;
  font-weight: 200;
  font-size: 13px;
  color: #000;
  background: #fff;
}


.logo-container {
  width: 272px;
  height: 90px;;
}
