.footer {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  background: #ddd;
  color: #999;
}

.footer p {
  float: left;
  padding: 20px;
}

.footer ul {
  float: right;
  padding-right: 10px;
}

.footer ul li {
  float: left;
}

.footer ul li:hover {
  background: #999;
}

.footer ul li:hover a {
  color: #eee;
}

.footer ul li a {
  display: block;
  padding: 20px 10px;
}
